@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  color: #666;
  line-height: 1.5;
  background-color: #fafafa;
}

section {
  margin: 12px;
}

nav {
  margin-top: 12px;
}

h1 {
  font-size: 28px;
  font-weight: normal;
  text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.2);
}

ul {
  margin-left: 24px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

label,
input[type="file"],
input[type="checkbox"] {
  cursor: pointer;
}

input[type="range"] {
  cursor: ew-resize;
}

select {
  cursor: pointer;
  margin-top: 12px;
}

dt {
  margin-top: 12px;
}
